<h1>Kick, ass!</h1>
<p>Some pointers to get you running:</p>

<ul id="pointers">
  <li>Edit views/index.erb to change this view</li>
  <li>Edit views/layout.erb to change the html that wraps it</li>
  <li>Edit views/not_found.erb for personalised 404 pages</li>
  <li>Edit app/web.rb to make new actions</li>
</ul>